*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(7, 7, 7);
    padding: 1rem;

}
 .nav-links ,#nav-links {
    display: flex;
    align-items: center;
    align-items: center;

}
.nav-links li,#nav-links li{
    margin: 0 10px;
    list-style-type: none;
    padding: 5px;
    user-select: none;
}
.nav-links li:hover{
    border-bottom: 2px solid red;
    
}
.sign-btn{
    cursor: pointer;
    width: 110px;
    height: 50px;
    font-size: 1.2rem;
    border: none;
    background-color: rgb(111, 201, 143);
    color: rgb(252, 241, 241);
    color: black;
    font-weight: 500;
    border-radius: 10px;
}

.logo {
    font-size: 1.8rem;
    user-select: none;
    color: white;
    letter-spacing: 2px;
}
.logo b{
    font-size: 3rem;
    color: rgb(214, 29, 29);
    font-family: italic;
}
.nav-links li a,#nav-links li a{
    font-size: 1.6rem;
    color:  white;
}
/*MOBIEL VIEW RESPONSIVE*/
.burger-liner{
    position: absolute;
    top: 30px;
    right: 8rem;
}
.burger-liner div{
    width: 40px;
    height: 4px;
    margin: 5px;
    background-color: rgb(249, 249, 249);
   
}
.burger-liner{
    display: none;
    cursor: pointer;
}
.login{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}
.login img{
    width: 100%;
    padding: 6px;
}
/*HOME  SECTION*/

/*IMAGE SLIDER STYLING...*/
.home{
      width: 100%;
      transition:all 0.5s ease-in 2s;

}
.image-slider{
    width: 100%;
    object-fit: cover;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position:relative ;
    background-color: aquamarine;


}
.image-slider img{
    width: 100%;
    height: 100%;
    transition:all 0.5s ease-in 2s;
   

}
.arrow{
    z-index: 10;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    top: 50%;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    height: 300px;
}
.arrow:hover{
    border: 2px solid white;
    color: red;
}
.left-arrow{
    left: 1.4rem;
}
.right-arrow{
  right: 1.5rem ;
}
.dot{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    min-height: 20px;
    bottom: 40%;
    top: 0%;
    right: 50%;

}
 .dots{
     width: 15px;
     height: 15px;
     border: 2px solid rgb(10, 10, 10);
     border-radius: 50%;
     margin: 0 2px; 
     
}
.active{
    width: 30px;
    height: 15px;
    border-radius: 10px;
    background-color: rgb(20, 20, 232);

}

/*PRODUCT SECTION*/

.product{
    display: grid;
    grid-template-columns: repeat(3,400px);
    place-items: center;
    user-select: none;
}
.smart-phone-info{
    width: 450px;
    padding: 1rem;
    margin: 20px 10px;
    box-shadow: 1px 2px 2px black -2px -2px -2px red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.phone-img{
    width: 300px;

}
.phone-img img{
    width: 100%;
}
.brand-name h3{
    margin-top: -20px;
    font-size: 1.8rem;
}
.phone-specs p{
  padding-right: 1.5rem;
  font-size: 1.3rem;
  color: rgb(129, 127, 127);
  margin: 10px 0 0 0;
}
.phone-specs a{
    color: black;
}
.phone-specs a:hover{
    color: rgb(188, 139, 49);
}
.offer_and_price{
    display: flex;
    align-items: center;
    margin: 10px 0 0 0;
}
.offer p{
    font-size: 1.8rem;
    color: green;    
    margin-right: 10px;
}
.price p{
    font-size: 1.3rem;
}
.price p span{
    text-decoration: line-through;
    color: rgb(129, 127, 127);
}
.delivery_details{
    font-size: 1.1rem;
    color: rgb(129, 127, 127);
    margin: 10px 0 0 0;
}
.buybtn button{
    margin: 10px 0 0 0;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: yellow;
    border-radius: 30px;
    cursor: pointer;
    user-select: auto;
}
.buybtn button:hover{
    background-color: rgb(177, 177, 60);
    color: white;
}




@media screen and (max-width:1000px) {
    nav{
        justify-content: space-between;
    }
    .nav-links{
        display: none;
    }

    .sign-btn{
        display: none;
    }
   
    .burger-liner{
        display: block;
    }
    .login{
        display: block;
    }
    #nav-link{
        width: 280px;
        height: 590px;
        max-height: 800px;
        display: block;
        position: absolute;
        top: 5.4rem;
        left: -30px;
        background-color: aqua;
        border: 2px solid black;
        display: none;
        transition: all 2s ease;
        z-index: 20;
    }
    #nav-link li{
        border-bottom: 2px solid rgb(10, 30, 182);
        margin: 1rem 2rem;

    }
    #nav-link li a{
     color: black;
    
    }
    .showlink{
         display: block;
        transition: all 2s ease;

    }
/*HOME SECTION*/

    .dot{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 50%;
        top: 0;
        bottom: -90%;
    }
    .image-slider{
        position: relative;
    }
    .arrow{
        font-size: 1.5rem;
        height: 0;
        top: 25%;
        color: blue;

    }
    .right-arrow{ right: -7px;}
    .left-arrow{ left: -8px;}
    .arrow:hover{
        border: none;
    }
    .dots{
        width: 10px;
        height: 10px;
        border: 2px solid rgb(10, 10, 10);
        border-radius: 50%;
        margin: 0 2px; 
   }
   .active{
       width: 20px;
       height: 10px;
       border-radius: 10px;
       background-color: rgb(20, 20, 232);
   
   }
   .product{
    grid-template-columns: 1fr;
    
   }
   
}

@media screen and (min-width:1024px) {

   .dot{
    top: 80%;
   }
   .arrow{
    top: 30%;
   }
    
} 
@media screen and (min-width:1000px) {
    .product{
        grid-template-columns: repeat(2,1fr);
    
       }
}